<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Movie</title>
    <link rel="shortcut icon" th:href="@{/img/thymleaf.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>

<div class="w-50 m-auto mt-5">
    <div class="d-flex justify-content-evenly">
        <button type="button" class="btn btn-dark text-center" th:onclick="|location.href='/user'|">Back to Add User
        </button>
    </div>
    <hr>
    <div class="mt-5">
        <form class="row g-3" method="post" th:action="@{/user/detailSave(userId = ${userDto.userId})}">
            <input type="text" class="visually-hidden" th:field="*{userDto.id}">
            <div class="mb-3 row">
                <label for="userId" class="col-sm-2 col-form-label fw-bold">ID</label>
                <div class="col-sm-10">
                    <span class="form-control-plaintext" id="userId" th:text="${userDto.userId}"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="name" class="col-sm-2 col-form-label fw-bold">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" th:field="*{userDto.name}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="number" class="col-sm-2 col-form-label fw-bold">Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="number" th:field="*{userDto.number}">

                </div>
            </div>
            <div class="mb-3 row">
                <label for="birth" class="col-sm-2 col-form-label fw-bold">Birth</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="birth" th:field="*{userDto.birth}">

                </div>
            </div>
            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label fw-bold">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" th:field="*{userDto.email}">
                </div>
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" th:field="*{userDto.address.country}">
            </div>
            <div class="col-md-4">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" th:field="*{userDto.address.city}">
            </div>
            <div class="col-md-4">
                <label for="zipCode" class="form-label">Zip-Code</label>
                <input type="text" class="form-control" id="zipCode" th:field="*{userDto.address.zipCode}">
            </div>
            <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" th:field="*{userDto.address.address}">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success"
                        th:text="${userDto.address.address == null} ? 'Save' : 'Update'"></button>
            </div>
        </form>
    </div>
</div>


</body>

<script th:inline="javascript">

</script>

</html>