<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:href="@{/js/bootstrap.min.js}"></script>
    <title>Main page</title>
</head>
<body>
<button id="testBtn" type="button" th:onclick="|javascript:whoami()|">테스트 버튼</button>


<script th:inline="javascript">
    function whoami() {
        console.log("okokook");
    }

</script>
</body>

<style>

</style>
</html>