<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Dashboard - SB Admin</title>
    <link rel="shortcut icon" th:href="@{/img/thymleaf.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:href="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<th:block th:replace="fragment/header :: headerFragment">

</th:block>

<main>
    <div class="text-center mt-3 mb-3">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" id="age">
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" >
    </div>
    <a th:href="@{/test}"> ㅇㅇㅇ</a>
    <button type="button" class="btn btn-primary" th:onclick="|location.href='/test'|">dddddd</button>

    <div class="d-flex justify-content-evenly m-4">
        <button type="button" class="btn btn-primary" th:onclick="|javascript : callTest();|">Test1</button>
        <button type="button" class="btn btn-primary">Test2</button>
        <button type="button" class="btn btn-primary">Test3</button>
    </div>
</main>

<th:block th:replace="fragment/footer :: footerFragment">
</th:block>


<script type="text/javascript">
    function callTest() {
        console.log("Test Ok");
    }
</script>


</body>
</html>
