<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Main Page</title>
    <link rel="shortcut icon" th:href="@{/img/thymleaf.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:href="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>

<div class="text-center mt-5">
    <img src="https://item.kakaocdn.net/do/166ebe6691fa2e36dd17d82e75ba9f7ef43ad912ad8dd55b04db6a64cddaf76d" alt="Cute">
</div>


<!--<div sec:authorize="isAuthenticated()">-->
<!--    This content is only shown to authenticated users.-->
<!--</div>-->
<!--<div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--    This content is only shown to administrators.-->
<!--</div>-->
<!--<div sec:authorize="hasRole('ROLE_USER')">-->
<!--    This content is only shown to users.-->
<!--</div>-->


<th:block th:replace="fragment/footer :: footerFragment">
</th:block>


</body>
</html>
