<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Dashboard - SB Admin</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:href="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<th:block th:replace="fragment/header :: headerFragment">

</th:block>

<main>
    <div class="text-center mt-3 mb-3">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="d-flex justify-content-evenly m-4">
        <button type="button" class="btn btn-primary">Test1</button>
        <button type="button" class="btn btn-primary">Test2</button>
        <button type="button" class="btn btn-primary">Test3</button>
    </div>

</main>

<th:block th:replace="fragment/footer :: footerFragment">
</th:block>
</body>
</html>
