<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Movie</title>
    <link rel="shortcut icon" th:href="@{/img/thymleaf.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>

<h1>movie</h1>
<div class="d-flex w-25">
    <input type="text" id="title">
    <button class="w-100 btn btn-lg btn-primary" id="search" type="button">검색</button>
</div>

<div id="replaceSome" class="d-flex w-75 m-auto"></div>

</body>

<script th:inline="javascript">
    $(function () {


        $("#search").click(function () {
            $("#replaceSome").empty();
            searchMovie();
        });

        function searchMovie() {
            let title = $("#title").val();
            $.ajax({
                type: 'post',
                url: '/movie/search',
                async: true,
                dataType: "json",
                data: {"title": title},
                success: function (result) {
                    console.log(result.items[0]);
                    for (let i = 0; i < result.items.length; i++) {
                        if (result.items[i].image == '') {
                            $("#replaceSome").append(`<div class="card h-25" style="width: 18rem;">
                                                  <img src="/img/sample_images_01.png" class="card-img-top h-25" alt="...">
                                                  <div class="card-body">
                                                    <p class="card-text">${result.items[i].title}</p>
                                                  </div>
                                                </div>`);
                        } else {
                            $("#replaceSome").append(`<div class="card w-auto h-auto">
                                                  <img src="${result.items[i].image}" class="card-img-top m-auto" style="width: 120px;height: 160px" alt="...">
                                                  <div class="card-body">
                                                    <p class="card-text">${result.items[i].title}</p>
                                                  </div>
                                                </div>`);
                        }
                    }
                }, error: function (request, status, error) {
                    console.log(error)
                }
            })
        }
    });

</script>
</html>