<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>
<button id="testBtn" type="button">테스트 버튼</button>

</body>

<script th:inline="javascript">
    let member = [[${member}]];

    console.log(member);

    $(document).ready(function () {
        function whoami() {
            console.log("okokook");
        }

        $('#testBtn').click(function () {
            whoami();
        });
    });


</script>


</html>