<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Movie</title>
    <link rel="shortcut icon" th:href="@{/img/thymleaf.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>

<div class="w-50 m-auto mt-5">
    <form class="row g-3" th:action="@{/user/add}" th:object="${userDto}" method="post">
        <div class="col-md-4">
            <label for="userId" class="form-label">ID</label>
            <input type="text" class="form-control" id="userId" th:field="*{userId}">
        </div>
        <div class="col-md-4">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="col-md-4">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" th:field="*{email}">
        </div>
        <div class="col-md-4">
            <label for="number" class="form-label">Number</label>
            <input type="text" class="form-control" id="number" th:field="*{number}">
        </div>
        <div class="col-md-4">
            <label for="birth" class="form-label">Birth</label>
            <input type="text" class="form-control" id="birth" th:field="*{birth}">
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Add User</button>
        </div>
    </form>
    <hr>
    <div class="d-flex justify-content-evenly mt-5">
        <h2>Users</h2>
        <button type="button" class="btn btn-dark" th:onclick="|location.href='/user/deleteAll'|">Delete All User
        </button>
    </div>
    <table class="table mt-3 text-center" >
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list : ${userList}" >
            <td><a th:href="@{/user/detail(userId = ${list.userId})}" th:text="${list.userId}"></a></td>
            <td><span th:text="${list.name}"></span></td>
            <td><span th:text="${list.email}"></span></td>
        </tr>
        </tbody>
    </table>
</div>


</body>

<script th:inline="javascript">

</script>

</html>