<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Weather</title>
    <link rel="shortcut icon" th:href="@{/img/thymleaf.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:href="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<div class="text-center mt-5">
    <h1>TMP Value Error</h1>
    <img src="https://item.kakaocdn.net/do/166ebe6691fa2e36dd17d82e75ba9f7ef43ad912ad8dd55b04db6a64cddaf76d" alt="Cute">
</div>

<div class="w-25 m-auto">

    <button class="btn btn-outline-success" id="search" type="button">Search</button>
</div>
<div id="replaceDiv"></div>
<th:block th:replace="fragment/footer :: footerFragment">
</th:block>


</body>

<script th:inline="javascript">

    $(function () {

        $("#search").click(function () {
            search();
        });


        function search() {
            let tmp;

            $.ajax({
                type: 'GET',
                url: "/weather/search",
                async: true,
                dataType: "JSON",
                success: function (res) {
                    console.log(res);
                },
            })
        }
    });

</script>
</html>
