<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:href="@{/js/bootstrap.min.js}"></script>
    <title>Main page</title>
</head>
<body class="text-center">

<main class="form-signin mt-5">
    <form class="w-25 m-auto" th:action="@{/templates/login}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <img src="https://item.kakaocdn.net/do/166ebe6691fa2e36dd17d82e75ba9f7ef43ad912ad8dd55b04db6a64cddaf76d"
             alt="Cute">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <label for="username" class="sr-only">로그인 아이디</label>
            <input id="username"
                   name="username"
                   class="form-control"
                   placeholder="아이디를 입력해 주세요."
                   required autofocus>
        </div>
        <div class="form-floating">
            <label for="password" class="sr-only">비밀번호</label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   placeholder="비밀번호를 입력해 주세요"
                   required>
        </div>

        <div class="checkbox mt-2 mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember Information
            </label>
        </div>
        <div class="error-message" th:if="${loginError}">
            <span> 아이디나 패스워드가 올바르지 않습니다. </span>
        </div>
        <div class="w-100 d-flex justify-content-between">
            <button class="w-50 btn btn-lg btn-primary" type="submit">Sign in</button>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy Dev_Lee</p>
    </form>
</main>
<button class="w-50 btn btn-lg btn-dark" type="button" th:onclick="|location.href='/signUp'|">Sign Up</button>


</body>

<style>

</style>
</html>